<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <% if @room %>
      <h1 class="h2"><%= @room.room_name %></h1>
      <div class='chat-room-form__field'>
        <div class='chat-room-form__field--left'>
          <label class='chat-room-form__label'></label>
        </div>
        
      </div>
    <% else %>
      <h1 class="h2">スケジュール一覧</h1>
    <% end %>

    <div class="btn-toolbar mb-2 mb-md-0">
      <% if @room %>
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to "スケジュール作成", new_room_schedule_path(@room), class: "nav-link" %>
          </button>
        </div>
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to "グループ編集", edit_room_path(@room), class: "nav-link" %>
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to "削除", room_path(@room), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "nav-link" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>

    <%= month_calendar schedules: @schedules do |date, schedules| %>
      <%= date.in_time_zone("Asia/Tokyo").day %>
        <% @schedules.each do |schedule| %>
          <% start_date = schedule.start_time.to_date %>
          <% end_date = schedule.end_time.to_date %>
          <% if start_date <= date && date <= end_date %>
            <span class="schedule-list"><br>・<%= schedule.title %></span>
          <% end %>
        <% end %>
    <% end %>

  <% if @room %>
    <h4>グループ詳細</h4>
    <div class="table-responsive">
      <%= @room.description %>
    </div>
  <% end %>
  <h4>予定一覧</h4>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">開始</th>
          <th scope="col">終了</th>
          <th scope="col">スケジュールの詳細</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @schedules.where("start_time >= ?", Date.today).order(start_time: :asc).each do |schedule| %>
          <tr>
            <td><%= schedule.title %></td>
            <td><%= schedule.start_time.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= schedule.end_time.in_time_zone("Asia/Tokyo").strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= schedule.body %></td>
            <% if @room %>
              <td>
                <%= link_to "編集", edit_room_schedule_path(@room, schedule), class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to "削除", room_schedule_path(@room, schedule), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-secondary" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>